<body>
<div class="index-box">
<div class="registration-box">
<h1 class="title-on-sign-up"> Chitter </h1>
<h2 class="create-account-header"> Create your account<h2>
<form action="/users" method="post">
<input class="sign-up-input" type="text" name="name" placeholder="name" />
<br/>
<input class="sign-up-input" type="text" name="username" placeholder="username"/>
<br/>
  <input class="sign-up-input" type="email" name="email" placeholder="email"/>
  <br/>
  <input class="sign-up-input" type="password" name="password" placeholder="password" />
  <br/>
  <input class="submit-button" type="submit" value="Submit" />
</form>
</div>
</div>
</body>