.title {
    color: #889eb0;
    text-align: center;
    font-family: 'Codystar', cursive;
    font-size: 110px;
    padding-top: 50px;
    
}

/* font-family: 'Advent Pro', sans-serif; */

.index-box {
    background-image: url('./images/white_terazzo.webp');
    height: 100%;
    width: 100%; 
    margin-top: 0px;
    
}

.welcome-text-box {
    position: relative;
    top: 100px;
    left: 410px;
    height: 500px;
    width: 600px;
    border-radius: 8%;
    background-color: #f1f1ef;
}

.sign-in-button {
    position: relative;
    bottom: 100px;
    left: 100px;
    background-color:  #f1f1ef;
    border: none;
    font-family: 'Advent Pro', sans-serif;
    font-size: 50px;
    color: #889eb0;

}

.sign-up-button {
    position: relative;
    left: 330px;
    bottom: 20px;
    background-color: #f1f1ef;;
    border: none;
    font-family: 'Advent Pro', sans-serif;
    font-size: 50px;
    color: #889eb0;
}

.sign-in-button:hover {
    background-color: #d9bfb8;
    border-radius: 5%;
}

.sign-up-button:hover {
    background-color: #d9bfb8;
    border-radius: 5%;
}

.opening-text {
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
    color: #889eb0;
    font-size: 30px;
    position: relative;
    bottom: 45px;

}

body {
    margin: 0px;
    padding: 0px; 
    outline: none;
    border: 0px;
}