/* * {
  background-image: url('./images/white_terazzo.webp');  
} */

.index {
    color: pink;
    text-align: center;
}

.index-box {
    background-image: url('./images/white_terazzo.webp');
    height: 100%;
    width: 100%; 
    margin-top: 0px;
}

body {
    margin: 0px;
    padding: 0px; 
    outline: none;
    border: 0px;
}